﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/css")

    <!-- Custom Fonts -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BuySmart", "Index", "Home", null, new { @class = "navbar-brand topnav" })
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Kalkulator zakupowy", "SelectCriteria", "PurchasingCalculator")</li>
                <li>@Html.ActionLink("Wystąpienia produktów", "Index", "ProductOccurence")</li>
                <li>@Html.ActionLink("Produkty", "Index", "Product")</li>
                <li>@Html.ActionLink("Sklepy", "Index", "Shop")</li>
                <li>@Html.ActionLink("Adresy", "Index", "Address")</li>
                <li>@Html.ActionLink("Oferta", "Offer", "Home")</li>
                <li>@Html.ActionLink("O projekcie", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</nav>

@RenderBody()

<div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>BuySmart</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://bitbucket.org/mateo1990/buysmart/" class="btn btn-default btn-lg"><i class="fa fa-bitbucket fa-fw"></i> <span class="network-name">BitBucket</span></a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/?hl=pl/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        @Html.ActionLink("Strona główna", "Index", "Home")
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        @Html.ActionLink("Oferta", "Offer", "Home")
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        @Html.ActionLink("O projekcie", "About", "Home")
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        @Html.ActionLink("Kontakt", "Contact", "Home")
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; BuySmart Mateusz Pucek 2015-2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>