﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <hgroup>
                <h1 class="text-danger">Locked out.</h1>
                <h2 class="text-danger">This account has been locked out, please try again later.</h2>
            </hgroup>
        </div>
    </div>
</div>