﻿@model BuySmart.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="content-section-a">
    <div class="container">
        <div class="row">

            <h2>@ViewBag.Title.</h2>

            @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Add a phone number</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Submit" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>