﻿@model BuySmart.Models.Address

@{
    ViewBag.Title = "Usuń adres";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Usuń adres</h2>
            <p class="error">@ViewBag.ErrorMessage</p>

            <h3>Na pewno chcesz usunąć ten adres></h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Miasto
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt>
                        Ulica
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Street)
                    </dd>
                    <dt>
                        Nazwa sklepu
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Shop.ShopName)
                    </dd>
                    <dt>
                        Typ sklepu
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Shop.ShopType)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Usuń" class="btn btn-default" /> |
                        @Html.ActionLink("Powrót do listy", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>