﻿@model BuySmart.Models.Address

@{
    ViewBag.Title = "Szczegóły adresu";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">

            <h2>Szczegóły adresu o ID=@Model.AddressId</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Miasto
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt>
                    Ulica
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Street)
                </dd>
                <dt>
                    Nazwa sklepu
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Shop.ShopName)
                </dd>
                <dt>
                    Typ sklepu
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Shop.ShopType)
                </dd>
            </dl>
            <p>
                @Html.ActionLink("Edytuj", "Edit", new { id = Model.AddressId }) |
                @Html.ActionLink("Powrót do listy", "Index")
            </p>
        </div>
    </div>
</div>