﻿@model BuySmart.ViewModels.AddressIndexModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Adresy";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Adresy</h2>

            <p>
                @Html.ActionLink("Utwórz nowy", "Create")
            </p>
            @using (Html.BeginForm("Index", "Address", FormMethod.Get))
            {
                <p>
                    Miasto:
                    @Html.TextBox("City", ViewBag.CurrentFilterCity as string)
                    Ulica:
                    @Html.TextBox("Street", ViewBag.CurrentFilterStreet as string) <br />
                    Nazwa sklepu:
                    @Html.TextBox("ShopName", ViewBag.CurrentFilterShopName as string)
                    Typ sklepu:
                    @Html.EnumDropDownListFor(m => m.ShopType, "Wybierz")
                </p>
                <p>
                    <input type="submit" value="Szukaj" />
                </p>

            }
            <table class="custom-table table">
                <tr>
                    <th>
                        @Html.ActionLink("ID", "Index", new
                        {
                            sortOrder = ViewBag.IDSortParm,
                            currentFilterCity = ViewBag.CurrentFilterCity,
                            currentFilterStreet = ViewBag.CurrentFilterStreet,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Miasto", "Index", new
                        {
                            sortOrder = ViewBag.CitySortParm,
                            currentFilterCity = ViewBag.CurrentFilterCity,
                            currentFilterStreet = ViewBag.CurrentFilterStreet,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Ulica", "Index", new
                        {
                            sortOrder = ViewBag.StreetSortParm,
                            currentFilterCity = ViewBag.CurrentFilterCity,
                            currentFilterStreet = ViewBag.CurrentFilterStreet,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Nazwa sklepu", "Index", new
                        {
                            sortOrder = ViewBag.ShopNameSortParm,
                            currentFilterCity = ViewBag.CurrentFilterCity,
                            currentFilterStreet = ViewBag.CurrentFilterStreet,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Typ sklepu", "Index", new
                        {
                            sortOrder = ViewBag.ShopTypeSortParm,
                            currentFilterCity = ViewBag.CurrentFilterCity,
                            currentFilterStreet = ViewBag.CurrentFilterStreet,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        Akcje
                    </th>
                </tr>

                @foreach (var item in Model.Addresses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shop.ShopName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shop.ShopType)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.AddressId }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.AddressId }) |
                            @Html.ActionLink("Usuń", "Delete", new { id = item.AddressId })
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.Addresses.PageCount < Model.Addresses.PageNumber ? 0 : Model.Addresses.PageNumber) of @Model.Addresses.PageCount

            @Html.PagedListPager(Model.Addresses, page => Url.Action("Index", new
       {
           page,
           sortOrder = ViewBag.CurrentSort,
           currentFilterCity = ViewBag.CurrentFilterCity,
           currentFilterStreet = ViewBag.CurrentFilterStreet,
           currentFilterShopName = ViewBag.CurrentFilterShopName,
           currentFilterShopType = ViewBag.CurrentFilterShopType
       }))
        </div>
    </div>
</div>