﻿@model BuySmart.Models.Shop

@{
    ViewBag.Title = "Delete shop";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Delete shop</h2>
            <p class="error">@ViewBag.ErrorMessage</p>
            <h3>Are you sure you want to delete this shop?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Shop name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShopName)
                    </dd>

                    <dt>
                        Shop type
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShopType)
                    </dd>
                    <dt>
                        Product occurences
                    </dt>
                    <dd>
                        @Html.ActionLink("Show", "FetchProductOccurences", new { id = Model.ShopId })
                    </dd>
                    <dt>
                        Addresses
                    </dt>
                    <dd>
                        @Html.ActionLink("Show", "FetchAddresses", new { id = Model.ShopId })
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>