﻿@model BuySmart.Models.Shop

@{
    ViewBag.Title = "Details of shop";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Details of shop with ID=@Model.ShopId</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Photo
                </dt>
                <dd>
                    @if (Model.Photo != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.Photo.Content);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img src="@imageSrc" width="350" />
                    }
                    else
                    {
                        <p>No image</p>
                    }
                </dd>
                <dt>
                    Shop name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShopName)
                </dd>

                <dt>
                    Shop type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShopType)
                </dd>
                <dt>
                    Product occurences
                </dt>
                <dd>
                    @Html.ActionLink("Show", "FetchProductOccurences", new {id = Model.ShopId})
                </dd>
                <dt>
                    Addresses
                </dt>
                <dd>
                    @Html.ActionLink("Show", "FetchAddresses", new {id = Model.ShopId})
                </dd>
            </dl>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ShopId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>