﻿@model BuySmart.Models.Shop

@{
    ViewBag.Title = "Edit shop";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Edit shop</h2>

            @using (Html.BeginForm("Edit", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                   @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ShopId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShopName, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShopName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShopName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShopType, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.ShopType, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShopType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <span class="control-label col-md-2"><strong>Current photo</strong></span>
                        <div class="col-md-10">
                            @if (Model.Photo != null)
                            {
                                string imageBase64 = Convert.ToBase64String(Model.Photo.Content);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" width="350" />
                            }
                            else
                            {
                                <p>No image</p>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Upload photo", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" id="Photo" name="upload" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>