﻿@model IEnumerable<BuySmart.Models.Address>

@{
    ViewBag.Title = "Addresses";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">

            <h2>Addresses of @ViewBag.ShopName</h2>
            <p></p>
            <table class="table custom-table">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Street
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span>@i</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Address", new { id = item.AddressId }, null) |
                            @Html.ActionLink("Details", "Details", "Address", new { id = item.AddressId }, null) |
                            @Html.ActionLink("Delete", "Delete", "Address", new { id = item.AddressId }, null)
                        </td>
                    </tr>
                    i++;
                }

            </table>
            <div>
                @Html.ActionLink("Back to shop list", "Index", "Shop")
            </div>

            <div>
                @Html.ActionLink("Back to address list", "Index", "Address")
            </div>
        </div>
    </div>
</div>