﻿@model IEnumerable<BuySmart.Models.ProductOccurence>

@{
    ViewBag.Title = "Product occurences";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">

            <h2>Product occurences in @ViewBag.ShopName</h2>
            <p></p>
            <table class="table custom-table">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Buy date
                    </th>
                    <th>
                        Is promotional?
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            <a href="@Url.Action("FetchProductOccurences", "Product", new { id = item.ProductId })">
                                @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductBuyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPromotional)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "ProductOccurence", new { id = item.ProductOccurenceId }, null) |
                            @Html.ActionLink("Details", "Details", "ProductOccurence", new { id = item.ProductOccurenceId }, null) |
                            @Html.ActionLink("Delete", "Delete", "ProductOccurence", new { id = item.ProductOccurenceId }, null)
                        </td>
                    </tr>
                    i++;
                }

            </table>
            <div>
                @Html.ActionLink("Back to shop list", "Index", "Shop")
            </div>
            <div>
                @Html.ActionLink("Back to product occurences list", "Index", "ProductOccurence")
            </div>
        </div>
    </div>
</div>