﻿@model BuySmart.ViewModels.ShopIndexModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Shops";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Shops</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            @using (Html.BeginForm("Index", "Shop", FormMethod.Get))
            {
                <p>
                    Shop name:
                    @Html.TextBox("Name", ViewBag.CurrentFilterShopName as string)
                    Shop type:
                    @Html.EnumDropDownListFor(m => m.ShopType, "Select")
                </p>
                <p>
                    <input type="submit" value="Search" />
                </p>

            }
            <table class="custom-table table">
                <tr>
                    <th>
                        @Html.ActionLink("ID", "Index", new
                        {
                            sortOrder = ViewBag.IDSortParm,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        Photo
                    </th>
                    <th>
                        @Html.ActionLink("Name", "Index", new
                        {
                            sortOrder = ViewBag.NameSortParm,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Type", "Index", new
                        {
                            sortOrder = ViewBag.TypeSortParm,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterShopType = ViewBag.CurrentFilterShopType
                        })
                    </th>
                    <th>
                        Product occurences
                    </th>
                    <th>
                        Addresses
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

                @foreach (var item in Model.Shops)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopId)
                        </td>
                        <td>
                            @if (item.Photo != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.Photo.Content);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" width="200" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopType)
                        </td>
                        <td>
                            @Html.ActionLink("Show", "FetchProductOccurences", new { id = item.ShopId })
                        </td>
                        <td>
                            @Html.ActionLink("Show", "FetchAddresses", new { id = item.ShopId })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ShopId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ShopId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ShopId })
                        </td>
                    </tr>
                }

            </table>
            <br />
            Page @(Model.Shops.PageCount < Model.Shops.PageNumber ? 0 : Model.Shops.PageNumber) of @Model.Shops.PageCount

            @Html.PagedListPager(Model.Shops, page => Url.Action("Index", new
       {
           page,
           sortOrder = ViewBag.CurrentSort,
           currentFilterShopName = ViewBag.CurrentFilterShopName,
           currentFilterShopType = ViewBag.CurrentFilterShopType
       }))
        </div>
    </div>
</div>