﻿@model BuySmart.Models.ProductOccurence

@{
    ViewBag.Title = "Delete product occurence";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Delete product occurence</h2>
            <p class="error">@ViewBag.ErrorMessage</p>
            <h3>Are you sure you want to delete this product occurence?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Product description
                    </dt>
                    <dd>
                        <a href="@Url.Action("FetchProductOccurences", "Product", new { id = Model.ProductId })">
                            @Html.DisplayFor(modelItem => Model.Product.ProductDescription)
                        </a>
                    </dd>
                    <dt>
                        Shop name
                    </dt>

                    <dd>
                        <a href="@Url.Action("FetchProductOccurences", "Shop", new { id = Model.ShopId })">
                            @Html.DisplayFor(modelItem => Model.Shop.ShopName)
                        </a>
                    </dd>

                    <dt>
                        Price (PLN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductPrice)
                    </dd>

                    <dt>
                        Buy date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductBuyDate)
                    </dd>

                    <dt>
                        Is promotional?
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsPromotional)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>