﻿@model BuySmart.Models.ProductOccurence

@{
    ViewBag.Title = "Details of product occurence";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Details of product occurence with ID=@Model.ProductOccurenceId</h2>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Product description
                    </dt>
                    <dd>
                        <a href="@Url.Action("FetchProductOccurences", "Product", new { id = Model.ProductId })">
                            @Html.DisplayFor(modelItem => Model.Product.ProductDescription)
                        </a>
                    </dd>
                    <dt>
                        Shop name
                    </dt>

                    <dd>
                        <a href="@Url.Action("FetchProductOccurences", "Shop", new { id = Model.ShopId })">
                            @Html.DisplayFor(modelItem => Model.Shop.ShopName)
                        </a>
                    </dd>

                    <dt>
                        Price (PLN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductPrice)
                    </dd>

                    <dt>
                        Buy date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductBuyDate)
                    </dd>

                    <dt>
                        Is promotional?
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsPromotional)
                    </dd>

                </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProductOccurenceId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
