﻿@model BuySmart.ViewModels.ProductOccurenceIndexModel
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/DatePicker/DatePicker.js")"></script>

@{
    ViewBag.Title = "Wystąpienia produktów";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">

            <h2>Wystąpienia produktów</h2>

            <p>
                @Html.ActionLink("Dodaj nowe", "Create")
            </p>
            @using (Html.BeginForm("Index", "ProductOccurence", FormMethod.Get))
            {
                <table style="width: 60%; border-spacing: 30px;">
                    <tr>
                        <td>
                            Produkt <br />
                            @Html.TextBox("Description", ViewBag.CurrentFilterDescription as string) <br/>
                            Sklep <br />
                            @Html.TextBox("ShopName", ViewBag.CurrentFilterShopName as string)
                        </td>
                        <td>
                            Cena od <br />
                            @Html.EditorFor(model => model.PriceFrom)<br/>
                            Cena do <br />
                            @Html.EditorFor(m => m.PriceTo)
                        </td>
                        <td>
                            Data od
                            @Html.TextBox("BuyDateFrom", ViewBag.CurrentFilterBuyDateFrom as string, new { @class = "form-control date-picker" })
                            Data do
                            @Html.TextBox("BuyDateTo", ViewBag.CurrentFilterBuyDateTo as string, new { @class = "form-control date-picker" })
                        </td>
                    </tr>
                </table> 
                <p>
                    <input type="submit" value="Szukaj" />
                </p>

            }
            <table class="table custom-table">
                <tr>
                    <th>
                        @Html.ActionLink("ID", "Index", new
                        {
                            sortOrder = ViewBag.IDSortParm,
                            currentFilterDescription = ViewBag.CurrentFilterDescription,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterPriceFrom = ViewBag.CurrentFilterPriceFrom,
                            currentFilterPriceTo = ViewBag.CurrentFilterPriceTo,
                            currentFilterBuyDateFrom = ViewBag.CurrentFilterBuyDateFrom,
                            currentFilterBuyDateTo = ViewBag.CurrentFilterBuyDateTo,
                            currentFilterIsPromotional = ViewBag.CurrentFilterIsPromotional
                        })
                    </th>
                    <th>
                        Zdjęcie
                    </th>
                    <th>
                        @Html.ActionLink("Produkt", "Index", new {
                            sortOrder = ViewBag.ProductSortParm,
                            currentFilterDescription = ViewBag.CurrentFilterDescription,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterPriceFrom = ViewBag.CurrentFilterPriceFrom,
                            currentFilterPriceTo = ViewBag.CurrentFilterPriceTo,
                            currentFilterBuyDateFrom = ViewBag.CurrentFilterBuyDateFrom,
                            currentFilterBuyDateTo = ViewBag.CurrentFilterBuyDateTo,
                            currentFilterIsPromotional = ViewBag.CurrentFilterIsPromotional
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Sklep", "Index", new {
                            sortOrder = ViewBag.ShopSortParm,
                            currentFilterDescription = ViewBag.CurrentFilterDescription,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterPriceFrom = ViewBag.CurrentFilterPriceFrom,
                            currentFilterPriceTo = ViewBag.CurrentFilterPriceTo,
                            currentFilterBuyDateFrom = ViewBag.CurrentFilterBuyDateFrom,
                            currentFilterBuyDateTo = ViewBag.CurrentFilterBuyDateTo,
                            currentFilterIsPromotional = ViewBag.CurrentFilterIsPromotional
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Cena (PLN)", "Index", new {
                            sortOrder = ViewBag.PriceSortParm,
                            currentFilterDescription = ViewBag.CurrentFilterDescription,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterPriceFrom = ViewBag.CurrentFilterPriceFrom,
                            currentFilterPriceTo = ViewBag.CurrentFilterPriceTo,
                            currentFilterBuyDateFrom = ViewBag.CurrentFilterBuyDateFrom,
                            currentFilterBuyDateTo = ViewBag.CurrentFilterBuyDateTo,
                            currentFilterIsPromotional = ViewBag.CurrentFilterIsPromotional
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Data zakupu", "Index", new {
                            sortOrder = ViewBag.BuyDateSortParm,
                            currentFilterDescription = ViewBag.CurrentFilterDescription,
                            currentFilterShopName = ViewBag.CurrentFilterShopName,
                            currentFilterPriceFrom = ViewBag.CurrentFilterPriceFrom,
                            currentFilterPriceTo = ViewBag.CurrentFilterPriceTo,
                            currentFilterBuyDateFrom = ViewBag.CurrentFilterBuyDateFrom,
                            currentFilterBuyDateTo = ViewBag.CurrentFilterBuyDateTo,
                            currentFilterIsPromotional = ViewBag.CurrentFilterIsPromotional
                        })
                    </th>
                    <th>
                        Czy jest w promocji?
                    </th>
                    <th>
                        Akcje
                    </th>
                </tr>

                @foreach (var item in Model.ProductOccurences)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductOccurenceId)
                        </td>
                        <td>
                            @if (item.Product.Photo != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.Product.Photo.Content);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" width="100" />
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("FetchProductOccurences", "Product", new { id = item.ProductId })">
                                @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("FetchProductOccurences", "Shop", new { id = item.ShopId })">
                                @Html.DisplayFor(modelItem => item.Shop.ShopName)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductBuyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPromotional)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.ProductOccurenceId }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.ProductOccurenceId }) |
                            @Html.ActionLink("Usuń", "Delete", new { id = item.ProductOccurenceId })
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.ProductOccurences.PageCount < Model.ProductOccurences.PageNumber ? 0 : Model.ProductOccurences.PageNumber) of @Model.ProductOccurences.PageCount

            @Html.PagedListPager(Model.ProductOccurences, page => Url.Action("Index", new
       {
           page,
           sortOrder = ViewBag.CurrentSort,
           currentFilterDescription = ViewBag.CurrentFilterDescription,
           currentFilterShopName = ViewBag.CurrentFilterShopName,
           currentFilterPriceFrom = ViewBag.CurrentFilterPriceFrom,
           currentFilterPriceTo = ViewBag.CurrentFilterPriceTo,
           currentFilterBuyDateFrom = ViewBag.CurrentFilterBuyDateFrom,
           currentFilterBuyDateTo = ViewBag.CurrentFilterBuyDateTo,
           currentFilterIsPromotional = ViewBag.CurrentFilterIsPromotional
       }))
        </div>
    </div>
</div>