﻿@model BuySmart.Models.Product

@{
    ViewBag.Title = "Delete product";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Delete product</h2>
            <p class="error">@ViewBag.ErrorMessage</p>
            <h3>Are you sure you want to delete this product?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">

                    <dt>
                        Product description
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductDescription)
                    </dd>

                    <dt>
                        Unit of measure
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UnitOfMeasure)
                    </dd>

                    <dt>
                        Product occurences
                    </dt>

                    <dd>
                        @Html.ActionLink("Show", "FetchProductOccurences", new { id = Model.ProductId })
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>