﻿@model BuySmart.Models.Product

@{
    ViewBag.Title = "Details of product";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Details of product with ID=@Model.ProductId</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Photo
                </dt>
                <dd>
                    @if (Model.Photo != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.Photo.Content);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img src="@imageSrc" width="350" />
                    }
                    else
                    {
                        <p>No image</p>
                    }
                </dd>

                <dt>
                    Product description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>

                <dt>
                    Unit of measure
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnitOfMeasure)
                </dd>

                <dt>
                    Product occurences
                </dt>

                <dd>
                    @Html.ActionLink("Show", "FetchProductOccurences", new { id = Model.ProductId })
                </dd>
            </dl>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
            </div>
        </div>
    </div>