﻿@model BuySmart.ViewModels.ProductIndexModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Products";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Products</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <p>
                    Description:
                    @Html.TextBox("Description", ViewBag.CurrentFilterDescription as string)
                    Unit of measure:
                    @Html.EnumDropDownListFor(m => m.UnitOfMeasure, "Select")
                </p>
                <p>
                    <input type="submit" value="Search" />
                </p>

            }
            <table class="table custom-table">
                <tr>
                    <th>
                        @Html.ActionLink("ID", "Index", new
                   {
                       sortOrder = ViewBag.IDSortParm,
                       currentFilterDescription = ViewBag.CurrentFilterDescription,
                       currentFilterUnitOfMeasure = ViewBag.CurrentFilterUnitOfMeasure
                   })
                    </th>
                    <th>
                        Photo
                    </th>
                    <th>
                        @Html.ActionLink("Description", "Index", new
                   {
                       sortOrder = ViewBag.DescriptionSortParm,
                       currentFilterDescription = ViewBag.CurrentFilterDescription,
                       currentFilterUnitOfMeasure = ViewBag.CurrentFilterUnitOfMeasure
                   })
                    </th>
                    <th>
                        @Html.ActionLink("Unit of measure", "Index", new
                   {
                       sortOrder = ViewBag.UnitOfMeasureSortParm,
                       currentFilterDescription = ViewBag.CurrentFilterDescription,
                       currentFilterUnitOfMeasure = ViewBag.CurrentFilterUnitOfMeasure
                   })
                    </th>
                    <th>
                        Product occurences
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @if (item.Photo != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.Photo.Content);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" width="150" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                        </td>
                        <td>
                            @Html.ActionLink("Show", "FetchProductOccurences", new { id = item.ProductId })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                        </td>
                    </tr>
                }

            </table>
            <br />
            Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount

            @Html.PagedListPager(Model.Products, page => Url.Action("Index", new
       {
           page,
           sortOrder = ViewBag.CurrentSort,
           currentFilterDescription = ViewBag.CurrentFilterDescription,
           currentFilterUnitOfMeasure = ViewBag.CurrentFilterUnitOfMeasure
       }))
        </div>
    </div>
</div>