﻿@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions
@model List<BuySmart.ViewModels.PurchasingCalculator.PurchasingPowerModel>

<script src="@Url.Content("~/Scripts/Chart.js")"></script>

@{
    ViewBag.Title = "Oblicz wartość siły nabywczej";
}

<div class="content-section-a">
    <div class="container">
        <div class="row" align="center">
            <h2>Siła nabywcza konsumentów w poszczególnych latach</h2>
            <h4>Ile zadanych koszyków zakupów można było średnio kupić w poszczególnych latach</h4>
            
            <table>
                <tr>
                    <td>
                        @foreach (var item in Model)
                        {
                            <h3>@Html.DisplayFor(modelItem => item.AverageSalaryModel.Year):
                            @String.Format("{0:0.00}", item.PurchasingPowerValue)</h3><br/><br/>
                        }
                    </td>
                    <td width="150">
                        
                    </td>
                    <td>
                        @{
                            var barChart = new BarChart();
                            var labels = ViewBag.Years;
                            var values = ViewBag.PurchasingPowerValues;

                            barChart.ComplexData.Labels.AddRange(labels);
                            barChart.ChartConfiguration.ScaleBeginAtZero = true;
                            barChart.ChartConfiguration.BarShowStroke = true;
                            barChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                                {
                                    new ComplexDataset
                                    {
                                        Data = values,
                                        Label = "My First dataset",
                                        FillColor = "rgba(0, 174, 255, 0.9)",
                                        StrokeColor = "rgba(220,220,220,1)",
                                        PointColor = "rgba(220,220,220,1)",
                                        PointStrokeColor = "#fff",
                                        PointHighlightFill = "#fff",
                                        PointHighlightStroke = "rgba(220,220,220,1)",
                                    }
                                });
                        }
                        <canvas id="myCanvas" width="500" height="300"></canvas>
                        @Html.CreateChart("myCanvas", barChart)
                    </td>
                </tr>
            </table>
           
            <div align="center">
                <br/>
                @Html.ActionLink("Powrót do kalkulatora zakupowego", "SelectCriteria", null, new {@class = "btn btn-default"})
            </div>
        </div>
    </div>
</div>