﻿@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions
@model BuySmart.ViewModels.PurchasingCalculator.InflationModel

<script src="@Url.Content("~/Scripts/Chart.js")"></script>

@{
    ViewBag.Title = "Oblicz inflację względem produktu";
}

<div class="content-section-a">
    <div class="container">
        <div class="row" align="center">
            @if (ViewBag.BasketNotCompleteInAnyShop == true)
            {
                @: Nie ma żadnego sklepu w danej lokalizacji, który zawierałby wszystkie produkty z zadanego asortymentu.
                }
            else
            {
                <h2>Wartość stopy inflacji względem sklepu (w stosunku rocznym)</h2><br /><br />
                <table>
                    <tr>
                        <td style="text-align: center; vertical-align: top;">
                            <h3>Średnia roczna inflacja względem poszczególnych sklepów:</h3> <br />
                            @foreach (var item in Model.ShopInflation)
                            {
                                if (item.Shop.Shop.Photo != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(item.Shop.Shop.Photo.Content);
                                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                    <img src="@imageSrc" width="150" />
                                }
                                else
                                {
                                    <p>Brak zdjęcia</p>
                                }
                                <span style="font-weight: bold; font-size: 22px; padding-left: 24px;">@Html.DisplayFor(modelItem => item.Inflation) % </span><br /><br />
                            }
                        </td>
                        <td width="150"></td>
                        <td style="text-align: center; vertical-align: top;">
                            <h3>Inflacja względem poszczególnych sklepów w stosunku rocznym (w %)</h3>
                            @{
                                var barChartInflationByShop = new BarChart();
                                var shopLabels = ViewBag.ShopLabels;
                                var shopInflationValues = ViewBag.ShopInflationValues;

                                barChartInflationByShop.ComplexData.Labels.AddRange(shopLabels);
                                barChartInflationByShop.ComplexData.Datasets.AddRange(new List<ComplexDataset> {
                                    new ComplexDataset
                                    {
                                        Data = shopInflationValues,
                                        Label = "My First dataset",
                                        FillColor = "rgba(0, 174, 255, 0.9)",
                                        StrokeColor = "rgba(220,220,220,1)",
                                        PointColor = "rgba(220,220,220,1)",
                                        PointStrokeColor = "#fff",
                                        PointHighlightFill = "#fff",
                                        PointHighlightStroke = "rgba(220,220,220,1)",
                                    }
                                });
                            }
                            <canvas id="myCanvasInflationByShop" width="500" height="300"></canvas>
                            @Html.CreateChart("myCanvasInflationByShop", barChartInflationByShop)<br /><br />
                        </td>
                    </tr>
                </table>

                                }
            @if (ViewBag.NoProductFoundInAnyShop == true)
            {
                @: Nie ma takiego produktu, który byłby znaleziony w którymkolwiek sklepie w danej lokalizacji.
            }
            else
            {
                <br /><br/>
                <h2>Wartość stopy inflacji względem produktu (w stosunku rocznym)</h2><br /><br />
                <table>
                    <tr>
                        <td style="text-align: center; vertical-align: top;">
                            <h3>Średnia roczna inflacja względem poszczególnych produktów:</h3> <br />
                            @foreach (var item in Model.ProductInflation)
                            {
                                if (item.Product.Product.Photo != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(item.Product.Product.Photo.Content);
                                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                    <img src="@imageSrc" width="150" />
                                }
                                else
                                {
                                    <p>Brak zdjęcia</p>
                                }
                                <span style="font-weight: bold; font-size: 22px; padding-left: 24px;">@Html.DisplayFor(modelItem => item.Product.Product.ProductDescription)</span>
                                <span style="font-weight: bold; font-size: 22px; padding-left: 24px;">@Html.DisplayFor(modelItem => item.Inflation) % </span><br /><br />
                            }
                        </td>
                        <td width="150"></td>
                        <td style="text-align: center; vertical-align: top;">
                            <h3>Inflacja względem poszczególnych produktów w stosunku rocznym (w %)</h3>
                            @{
                                var barChartInflationByProduct = new BarChart();
                                var productLabels = ViewBag.ProductLabels;
                                var productInflationValues = ViewBag.ProductInflationValues;

                                barChartInflationByProduct.ComplexData.Labels.AddRange(productLabels);
                                barChartInflationByProduct.ComplexData.Datasets.AddRange(new List<ComplexDataset> {
                                    new ComplexDataset
                                    {
                                        Data = productInflationValues,
                                        Label = "My First dataset",
                                        FillColor = "rgba(0, 174, 255, 0.9)",
                                        StrokeColor = "rgba(220,220,220,1)",
                                        PointColor = "rgba(220,220,220,1)",
                                        PointStrokeColor = "#fff",
                                        PointHighlightFill = "#fff",
                                        PointHighlightStroke = "rgba(220,220,220,1)",
                                    }
                                });
                            }
                            <canvas id="myCanvasInflationByProduct" width="500" height="300"></canvas>
                            @Html.CreateChart("myCanvasInflationByProduct", barChartInflationByProduct)<br /><br />
                        </td>
                    </tr>
                </table>


                <br/>
                <div align="center">

                    <br /><br />
                    <h2>Średnia wartość stopy inflacji w stosunku rocznym: @String.Format("{0:0.00}", Model.AverageInflation) %</h2>

                </div>

                                }

            <div align="center">
                <br />
                @Html.ActionLink("Powrót do kalkulatora zakupowego", "SelectCriteria", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>