﻿@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions
@model List<BuySmart.ViewModels.PurchasingCalculator.ShoppingBasketModel>

<script src="@Url.Content("~/Scripts/Chart.js")"></script>

@{
    ViewBag.Title = "Oblicz zadany koszyk zakupów";
}

<div class="content-section-a">
    <div class="container">
        <div class="row" align="center">

            <h2>Koszt zadanego koszyka zakupów w zależności od sklepów</h2>
            
            @if (ViewBag.BasketNotCompleteInAnyShop == true)
            {
                @: Nie ma żadnego sklepu w danej lokalizacji, który posiadałby w asortymencie wszystkie zadane produkty.
            }
            else
            {
                <br /><br />
                <table>
                    <tr>
                        <td style="text-align: center;">
                            <h3>Koszyk zakupów z wszystkimi zadanymi produktami i spełniający zadane kryteria został znaleziony w następujących sklepach:</h3> <br />
                            @foreach (var item in Model)
                            {
                                if (item.Shop.Photo != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(item.Shop.Photo.Content);
                                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                    <img src="@imageSrc" width="150" />
                                }
                                else
                                {
                                    <p>Brak zdjęcia</p>
                                }
                                <span style="font-weight: bold; font-size: 22px; padding-left: 24px;">@Html.DisplayFor(modelItem => item.BasketPrice) PLN </span>
                                <br />
                                <br />
                            }
                        </td>

                        <td width="150"></td>
                        <td style="text-align: center; vertical-align: top;">
                            <h3>Koszt koszyka zakupów w PLN względem sklepów</h3>
                            @{
                                var barChart = new BarChart();
                                var labels = ViewBag.Labels;
                                var values = ViewBag.Values;

                                barChart.ComplexData.Labels.AddRange(labels);
                                barChart.ChartConfiguration.ScaleBeginAtZero = false;
                                barChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                                {
                                    new ComplexDataset
                                    {
                                        Data = values,
                                        Label = "My First dataset",
                                        FillColor = "rgba(0, 174, 255, 0.9)",
                                        StrokeColor = "rgba(220,220,220,1)",
                                        PointColor = "rgba(220,220,220,1)",
                                        PointStrokeColor = "#fff",
                                        PointHighlightFill = "#fff",
                                        PointHighlightStroke = "rgba(220,220,220,1)",
                                    }
                                });
                            }
                            <canvas id="myCanvas" width="500" height="300"></canvas>
                            @Html.CreateChart("myCanvas", barChart)
                        </td>
                    </tr>
                </table>
                                }
            <div align="center">
                <br />
                @Html.ActionLink("Powrót do kalkulatora zakupowego", "SelectCriteria", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>