﻿@model BuySmart.ViewModels.PurchasingCalculator.PurchasingCalculatorCriteriaModel

@{
    ViewBag.Title = "Błąd";
}


<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>Błąd - proszę podać poprawnie wszystkie kryteria!</h2>

            @Html.ActionLink("Powrót", "SelectCriteria")
        </div>
    </div>
</div>