﻿@model BuySmart.ViewModels.PurchasingCalculator.PurchasingCalculatorCriteriaModel

<link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/DatePicker/DatePicker.js")"></script>

@{
    ViewBag.Title = "Kalkulator zakupowy - podanie kryteriów";
}


<div class="content-section-a">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("SelectCriteria", "PurchasingCalculator", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>Podaj kryteria: </h2>
                    <hr/>
                    <div class="form-group">
                        @Html.Label("Ile produktów chcesz uwzględnić w obliczeniach?")
                        <div>
                            @Html.DropDownListFor(model => model.AmountOfProductFields, Enumerable.Range(1, 10).Select(i => new SelectListItem {Text = i.ToString(), Value = i.ToString()}),
                                new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Lokalizacja (miasto)")
                        <div>
                            @Html.EditorFor(model => model.Localization, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Data od")
                        <div>
                            @Html.EditorFor(model => model.DateFrom, new {htmlAttributes = new {@class = "form-control date-picker"}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Data do")
                        <div>
                            @Html.EditorFor(model => model.DateTo, new {htmlAttributes = new {@class = "form-control date-picker"}})
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="Następny krok: Wybór produktów" class="btn btn-default"/>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>