﻿@model BuySmart.ViewModels.PurchasingCalculator.PurchasingCalculatorInputModel

@{
    ViewBag.Title = "Kalkulator zakupowy - wybór produktów";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("SelectProducts", "PurchasingCalculator", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>Wybierz produkty: </h2>
                    <hr />
                    @Html.Label("Ilość równa 0, jeśli zostawisz puste")
                    @for(var i=0; i < Model.Criteria.AmountOfProductFields; i++)
                    {
                        <div class="form-group">
                            <div>

                                @Html.Label("Produkt") @i:
                                @Html.DropDownListFor(model => model.SelectedProductsValues[i].SelectedProductId, Model.AllProducts, "---SELECT---", new {htmlAttributes = new {@class = "form-control"}})
                                @Html.Label("Ilość")
                                @Html.TextBoxFor(model => model.SelectedProductsValues[i].SelectedAmount, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div>
                            <input type="submit" name="submitButtonShoppingBasket" value="Oblicz koszt koszyka zakupów" class="btn btn-default" />
                            <input type="submit" name="submitButtonInflation" value="Oblicz inflację"  class="btn btn-default" />
                            <input type="submit" name="submitButtonPurchasingPower" value="Oblicz siłę nabywczą" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>