﻿@{
    ViewBag.Title = "Confirm Email";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title.</h2>
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>