﻿@{
    ViewBag.Title = "Login Failure";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">

            <hgroup>
                <h2>@ViewBag.Title.</h2>
                <h3 class="text-danger">Unsuccessful login with service.</h3>
            </hgroup>
        </div>
    </div>
</div>