﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>