﻿@{
    ViewBag.Title = "About";
    ViewBag.Message = "BuySmart is an application for support purchasing decisions";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title</h2>
            <h4>@ViewBag.Message</h4>
        </div>
    </div>
</div>