﻿@{
    ViewBag.Title = "Contact with us";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title</h2>

            <div style="font-weight: normal">
                <address>
                    BuySmart<br />
                    Świebodzin, Poland<br />
                    <abbr title="Phone">664 497 948</abbr>
                    <a href="mailto:pucekmateusz@gmail.com">pucekmateusz@gmail.com</a><br />
                </address>
            </div>
        </div>
    </div>
</div>