﻿
@{
    ViewBag.Title = "Strona główna aplikacji BuySmart";
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery-{version}.js")
    @Scripts.Render("~/bundles/bootstrap.min.js")
    @Styles.Render("~/Styles/css")
}

<title>@ViewBag.Title</title>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>BuySmart</h1>
                    <h3>Nowoczesna aplikacja internetowa dla konsumentów</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="@Url.Action("Create", "ProductOccurence")" class="btn btn-default btn-lg"><i class="fa fa-database fa-fw"></i><span class="network-name"> Dodaj wystąpienie produktu</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("SelectCriteria", "PurchasingCalculator")" class="btn btn-default btn-lg"><i class="fa fa-calculator fa-fw"></i><span class="network-name"> Kalkulator zakupowy</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Dodawaj i przechowuj informacje dotyczące Twoich zakupów
                </h2>
                <p class="lead">Wprowadzaj informacje z paragonów bądź innych źródeł danych (jak np. gazetki reklamowe) i przechowuj je w uporządkowany sposób
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Images/home_middle1.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Porównuj sklepy i sprawdź, gdzie dany koszyk zakupów kosztuje najmniej
                </h2>
                <p class="lead">Nasz system pomoże Ci przeanalizować dane i ułatwić podjęcie decyzji, gdzie się udać na zakupy
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Images/home_middle2.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Oblicz wskaźniki ekonomiczne i wizualizuj statystyki
                </h2>
                <p class="lead">Zobacz statystyki dotyczące wskaźników ekonomicznych (jak inflacja i siła nabywcza) na szczegółówych wykresach</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Images/home_middle3.jpg" alt="">
            </div>
        </div>
    </div>
</div>