﻿@{
    ViewBag.Title = "Offer";
    ViewBag.Message = "What we offer";
}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>

            <p>BuySmart offers many useful features for consumers:</p>
            <div style="font-weight: normal">
                <ul>
                    <li>
                        Adding and collecting data about shopping. Inserting data from receipts and other data sources (like adverts) and collecting them in a structured way.
                    </li>
                    <li>
                        Comparing shops and checking where is the cheapest shopping basket. Our system helps consumers analize data and decide where to go shopping.
                    </li>
                    <li>
                        Counting economic indicators and visualizing statistics. Presenting detailed charts about values of indicators like inflation and the real purchasing power.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>